<div class="col-lg-8">
  {% for post in posts %}
  <!-- Trending Top -->
  <div class="trending-top mb-30">
    <div class="trend-top-img">
      <img src="{{ post.featured_image.url }}" alt="" />
      <div class="trend-top-cap">
        <span>Appetizers</span>
        <h2><a href="details.html">{{ post.title }}</a></h2>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Trending Bottom -->
  <div class="trending-bottom">
    <div class="row">
      {% for post in posts %}
      <div class="col-lg-4">
        <div class="single-bottom mb-35">
          <div class="trend-bottom-img mb-30">
            <img src="{{ post.featured_image.url }}" alt="" />
          </div>
          <div class="trend-bottom-cap">
            <span class="color1">Lifestyle</span>
            <h4>
              <a href="details.html">{{ post.title }}</a>
            </h4>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        {% for post in posts %}
        <div class="single-bottom mb-35">
          <div class="trend-bottom-img mb-30">
            <img src="{{ post.featured_image.url }}" alt="" />
          </div>
          <div class="trend-bottom-cap">
            <span class="color2">Sports</span>

            <h4>
              <a href="details.html">{{ post.title }}</a>
            </h4>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4">
        <div class="single-bottom mb-35">
          <div class="trend-bottom-img mb-30">
            <img src="assets/img/trending/trending_bottom3.jpg" alt="" />
          </div>
          <div class="trend-bottom-cap">
            <span class="color3">Travels</span>
            <h4>
              <a href="details.html">
                Welcome To The Best Model Winner Contest</a
              >
            </h4>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
